{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1><a href={{ path('homepage') }} disabled="disabled">eMAG<span>-Homepage</span></a></h1>
    <h3><a href={{ path('laptop_category') }}>Laptop, Tablete, Telefoane</a></h3>
    <h3><a href={{ path('pc_category') }}>PC, Periferice & Software</a></h3>
    <h3><a href={{ path('tv_category') }}>TV, Audio-Video & Foto</a></h3>
    <h3><a href={{ path('checkout') }}>Checkout</a></h3>
{% endblock %}
